

h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

/* Headings */
.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}
.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}

/* container */
.container-fluid {
  padding:7% 15%;

}

/* Sections */
 .colored-section {
   background-color: #ff4c68;
   color: white;
 }
.white-section {
  background-color: white;
}

/* Navigation bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding:0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat-Light', sans-serif;
}

/* title section */

#title .container-fluid{
  padding: 3% 15% 7%;
  text-align: left;
}

/* download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* title image */

.title-img {
  width: 60%;
  transform: rotate(25deg);
  position:absolute; /* to active the z-index */
  right: 30%;
}


@media (max-width:1028px) {
  #title {
    text-align: center;
  }
  .title-img {
    position:static;
    transform:rotate(0);
  }
}


/* features section */
#features {
  position:relative;
  z-index: 1;
}

.icon {
  color: #ef8172;
  font-size: 3rem;
  padding: 10px;
}
.icon:hover {
  color: #ff4c68;
}
.features {
  padding:10px;
  font-size: 1.5rem;
}
.feature-description {
  color: #8f8f8f;
  padding:10px;
}
.feature-box {
  padding: 30px;
}


/* testimonials section*/

#testimonials {
  background-color: #ef8172;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* press section */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;

}
.press-logo {
  width: 15%;
  margin:20px 20px 50px;
}
.price-text {
  font-size: 3rem;
  line-height: 1.5;
}


/* pricing section */
#pricing {
  padding: 100px;
}
.pricing-column {
  padding: 3% 2%;

}


/* Call to Action  */


/* Footer section */
#footer {
}
.footer-icon {
  margin:20px;
}
.footer-p {
  padding-top: 20px;
}
